name: Code Quality Check

"on":
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  format:
    name: Format and Lint Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/ruff-action@v3
        with:
          version: "0.15.1"
          args: 'format --check'
      - uses: astral-sh/ruff-action@v3
        with:
          version: "0.15.1"
