name: Publish
on:
  release:
    types: [created]

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write

    steps:
      - uses: actions/checkout@v6
      - name: Setup Python
        uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.11"
          cache: true
      - name: Install dependencies
        run: uv sync --all-extras
      - name: Run pytest
        run: uv run pytest
      - name: Build
        run: uv build
      - name: Publish
        run: uv publish
